@mixin box-sizing ($sizing) {
    webkit-box-sizing: $sizing;     
       moz-box-sizing: $sizing;
           box-sizing: $sizing;
}
@mixin size($width: auto, $height: auto) {
	width: $width;
	height: $height;
}
@mixin flex($value: 1) {
	-webkit-box-flex: $value;
	-moz-box-flex: $value;
	-webkit-flex: $value;
	-ms-flex: $value;
	flex: $value;
}