//颜色变量
$lightgray:		#e0e0e0;
$gray:			#ccc;
$gray2:			#f8f8f8;
$gray3:			#d2d2d2;
$grayGradient:	#efefef;
$textGray:		#888;
$deepGray:		#666;
$moreGray:		#999;
$bestGray:		#e4e4e4;
$orange:		#ff5000;
$deepOrange:	#fe7c24;
$lightBlue:		#5095e0;
$deepBlue:		#2766cf;
$red:			red;
$white:			white;
$tranBlack:		rgba(0,0,0,.5);
$black: 		black;